# **2 - Loading**

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Reading CSV

In [2]:
fighters = pd.read_csv('./fighters.csv', sep = ',', header = 0)
fights = pd.read_csv('fights.csv', sep = ',', header = 0)

## Overview

In [3]:
print('Fighters Overview')
print('************************************')
print('Shape:', fighters.shape)
print('------------------------------------')
print('Columns:', fighters.columns.values)
print('------------------------------------')
print('Head:')
display(fighters.head())
print('Tail:')
display(fighters.tail())

print('Fights Overview')
print('************************************')
print('Shape:', fights.shape)
print('------------------------------------')
print('Columns:', fights.columns.values)
print('------------------------------------')
print('Head:')
display(fights.head())
print('Tail:')
display(fights.tail())

Fighters Overview
************************************
Shape: (4252, 15)
------------------------------------
Columns: ['Name' 'Record' 'Height' 'Weight' 'Reach' 'Stance' 'Birthday' 'SLPM'
 'SACC' 'SAPM' 'SD' 'TDAVG' 'TDACC' 'TDD' 'SAVG']
------------------------------------
Head:

,Name,Record,Height,Weight,Reach,Stance,Birthday,SLPM,SACC,SAPM,SD,TDAVG,TDACC,TDD,SAVG
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,--,1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,5-0-0 (1 NC),"6' 2""",264 lbs.,"72""",Southpaw,"Jan 22, 1993",3.87,52%,3.13,59%,3.00,75%,0%,0.0

Tail:

,Name,Record,Height,Weight,Reach,Stance,Birthday,SLPM,SACC,SAPM,SD,TDAVG,TDACC,TDD,SAVG
4247,Dave Zitanick,5-7-0 (1 NC),--,170 lbs.,--,NaN,"Mar 05, 1980",0.00,0%,0.00,0%,0.00,0%,0%,0.0
4248,Alex Zuniga,6-3-0,--,145 lbs.,--,NaN,--,0.00,0%,0.00,0%,0.00,0%,0%,0.0
4249,George Zuniga,3-1-0,"5' 9""",185 lbs.,--,NaN,--,7.64,38%,5.45,37%,0.00,0%,100%,0.0
4250,Allan Zuniga,13-1-0,"5' 7""",155 lbs.,"70""",Orthodox,"Apr 04, 1992",3.93,52%,1.80,61%,0.00,0%,57%,1.0
4251,Virgil Zwicker,15-6-1,"6' 2""",205 lbs.,"74""",NaN,"Jun 26, 1982",3.34,48%,4.87,39%,1.31,30%,50%,0.0

Fights Overview
************************************
Shape: (7836, 42)
------------------------------------
Columns: ['A' 'B' 'Winner' 'Event' 'Date' 'Location' 'Division' 'Method' 'Round'
 'Time' 'Format' 'Referee' 'A_KD' 'A_SS' 'A_SSP' 'A_TS' 'A_TD' 'A_TDP'
 'A_SA' 'A_REV' 'A_CTRL' 'A_H' 'A_B' 'A_L' 'A_D' 'A_C' 'A_G' 'B_KD' 'B_SS'
 'B_SSP' 'B_TS' 'B_TD' 'B_TDP' 'B_SA' 'B_REV' 'B_CTRL' 'B_H' 'B_B' 'B_L'
 'B_D' 'B_C' 'B_G']
------------------------------------
Head:

,A,B,Winner,Event,Date,Location,Division,Method,Round,Time,Format,Referee,A_KD,A_SS,A_SSP,A_TS,A_TD,A_TDP,A_SA,A_REV,A_CTRL,A_H,A_B,A_L,A_D,A_C,A_G,B_KD,B_SS,B_SSP,B_TS,B_TD,B_TDP,B_SA,B_REV,B_CTRL,B_H,B_B,B_L,B_D,B_C,B_G
0,Sean O'Malley,Merab Dvalishvili,Merab Dvalishvili,UFC 306: Riyadh Season Noche UFC,"September 14, 2024","Las Vegas, Nevada, USA",UFC Bantamweight Title Bout,Decision - Unanimous,5,5:00,5 Rnd (5-5-5-5-5),Herb Dean,0.0,47 of 89,52%,49 of 91,0 of 0,---,0.0,0.0,0:00,22 of 48,23 of 39,2 of 2,45 of 85,0 of 1,2 of 3,0.0,82 of 164,50%,214 of 310,6 of 15,40%,0.0,0.0,10:03,55 of 130,4 of 6,23 of 28,29 of 85,8 of 14,45 of 65
1,Alexa Grasso,Valentina Shevchenko,Valentina Shevchenko,UFC 306: Riyadh Season Noche UFC,"September 14, 2024","Las Vegas, Nevada, USA",UFC Women's Flyweight Title Bout,Decision - Unanimous,5,5:00,5 Rnd (5-5-5-5-5),Mark Smith,0.0,18 of 100,18%,153 of 245,1 of 4,25%,2.0,0.0,0:49,8 of 74,3 of 10,7 of 16,16 of 98,1 of 1,1 of 1,0.0,45 of 80,56%,193 of 233,8 of 12,66%,0.0,0.0,16:04,38 of 71,3 of 5,4 of 4,39 of 72,2 of 2,4 of 6
2,Brian Ortega,Diego Lopes,Diego Lopes,UFC 306: Riyadh Season Noche UFC,"September 14, 2024","Las Vegas, Nevada, USA",Featherweight Bout,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Marc Goddard,0.0,63 of 195,32%,69 of 201,0 of 2,0%,0.0,0.0,0:06,52 of 180,4 of 8,7 of 7,61 of 192,1 of 1,1 of 2,0.0,106 of 206,51%,113 of 214,1 of 1,100%,0.0,0.0,2:45,75 of 172,13 of 15,18 of 19,75 of 161,6 of 7,25 of 38
3,Daniel Zellhuber,Esteban Ribovics,Esteban Ribovics,UFC 306: Riyadh Season Noche UFC,"September 14, 2024","Las Vegas, Nevada, USA",Lightweight Bout,Decision - Split,3,5:00,3 Rnd (5-5-5),Jason Herzog,1.0,121 of 308,39%,121 of 308,0 of 1,0%,0.0,0.0,0:15,83 of 255,33 of 48,5 of 5,117 of 304,4 of 4,0 of 0,0.0,156 of 345,45%,156 of 345,0 of 0,---,0.0,0.0,0:00,103 of 276,32 of 48,21 of 21,154 of 342,2 of 3,0 of 0
4,Ronaldo Rodriguez,Ode Osbourne,Ronaldo Rodriguez,UFC 306: Riyadh Season Noche UFC,"September 14, 2024","Las Vegas, Nevada, USA",Flyweight Bout,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Chris Tognoni,0.0,35 of 69,50%,68 of 117,1 of 2,50%,0.0,1.0,9:14,29 of 61,1 of 2,5 of 6,10 of 31,0 of 0,25 of 38,1.0,37 of 68,54%,55 of 93,1 of 3,33%,2.0,1.0,1:07,28 of 59,4 of 4,5 of 5,22 of 46,0 of 0,15 of 22

Tail:

,A,B,Winner,Event,Date,Location,Division,Method,Round,Time,Format,Referee,A_KD,A_SS,A_SSP,A_TS,A_TD,A_TDP,A_SA,A_REV,A_CTRL,A_H,A_B,A_L,A_D,A_C,A_G,B_KD,B_SS,B_SSP,B_TS,B_TD,B_TDP,B_SA,B_REV,B_CTRL,B_H,B_B,B_L,B_D,B_C,B_G
7831,Orlando Wiet,Robert Lucarelli,Orlando Wiet,UFC 2: No Way Out,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,KO/TKO,1,2:50,No Time Limit,John McCarthy,0.0,8 of 12,66%,11 of 15,0 of 0,---,0.0,0.0,--,7 of 11,1 of 1,0 of 0,1 of 3,0 of 0,7 of 9,0.0,2 of 6,33%,2 of 6,1 of 1,100%,1.0,0.0,--,1 of 2,0 of 1,1 of 3,2 of 6,0 of 0,0 of 0
7832,Frank Hamaker,Thaddeus Luster,Frank Hamaker,UFC 2: No Way Out,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Submission,1,4:52,No Time Limit,John McCarthy,0.0,2 of 3,66%,14 of 15,1 of 1,100%,3.0,1.0,--,2 of 3,0 of 0,0 of 0,1 of 1,0 of 0,1 of 2,0.0,0 of 0,---,0 of 0,0 of 1,0%,0.0,0.0,--,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0
7833,Johnny Rhodes,David Levicki,Johnny Rhodes,UFC 2: No Way Out,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,KO/TKO,1,12:13,No Time Limit,John McCarthy,0.0,11 of 17,64%,74 of 86,1 of 1,100%,0.0,0.0,--,9 of 15,1 of 1,1 of 1,1 of 1,1 of 1,9 of 15,0.0,4 of 5,80%,95 of 102,0 of 0,---,0.0,0.0,--,4 of 5,0 of 0,0 of 0,1 of 2,2 of 2,1 of 1
7834,Patrick Smith,Ray Wizard,Patrick Smith,UFC 2: No Way Out,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Submission,1,0:58,No Time Limit,John McCarthy,0.0,1 of 1,100%,1 of 1,0 of 1,0%,1.0,0.0,--,0 of 0,1 of 1,0 of 0,0 of 0,1 of 1,0 of 0,0.0,1 of 1,100%,2 of 2,0 of 0,---,0.0,0.0,--,0 of 0,0 of 0,1 of 1,1 of 1,0 of 0,0 of 0
7835,Scott Morris,Sean Daugherty,Scott Morris,UFC 2: No Way Out,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Submission,1,0:20,No Time Limit,John McCarthy,0.0,1 of 1,100%,2 of 2,1 of 1,100%,1.0,0.0,--,1 of 1,0 of 0,0 of 0,0 of 0,1 of 1,0 of 0,0.0,0 of 4,0%,1 of 5,0 of 0,---,0.0,0.0,--,0 of 2,0 of 0,0 of 2,0 of 3,0 of 1,0 of 0

## Description

In [4]:
print('Fighters Description')
print('************************************')
display(fighters.info())
print('------------------------------------------------------------------------')
display(fighters.describe(include = ['object']))
display(fighters.describe(include = ['float64']))

print('Fights Description')
print('************************************')
display(fights.info())
print('------------------------------------------------------------------------')
display(fights.describe(include = ['object']))
display(fights.describe(include = ['int64']))

Fighters Description
************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4252 entries, 0 to 4251
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      4252 non-null   object
 1   Record    4252 non-null   object
 2   Height    4252 non-null   object
 3   Weight    4252 non-null   object
 4   Reach     4252 non-null   object
 5   Stance    3391 non-null   object
 6   Birthday  4252 non-null   object
 7   SLPM      4252 non-null   float64
 8   SACC      4252 non-null   object
 9   SAPM      4252 non-null   float64
 10  SD        4252 non-null   object
 11  TDAVG     4252 non-null   float64
 12  TDACC     4252 non-null   object
 13  TDD       4252 non-null   object
 14  SAVG      4252 non-null   float64
dtypes: float64(4), object(11)
memory usage: 498.4+ KB

None

------------------------------------------------------------------------

,Name,Record,Height,Weight,Reach,Stance,Birthday,SACC,SD,TDACC,TDD
count,4252,4252,4252,4252,4252,3391,4252,4252,4252,4252,4252
unique,4246,1232,27,113,28,5,2949,83,84,85,92
top,Tony Johnson,0-1-0,"6' 0""",155 lbs.,--,Orthodox,--,0%,0%,0%,0%
freq,2,78,445,623,1962,2602,762,814,748,1790,1524

              SLPM         SAPM        TDAVG         SAVG
count  4252.000000  4252.000000  4252.000000  4252.000000
mean      2.421460     3.126667     1.250012     0.588923
std       1.951043     2.765897     1.936130     1.457019
min       0.000000     0.000000     0.000000     0.000000
25%       0.810000     1.540000     0.000000     0.000000
50%       2.330000     2.950000     0.595000     0.000000
75%       3.622500     4.232500     1.922500     0.700000
max      20.550000    52.500000    32.140000    21.900000

Fights Description
************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7836 entries, 0 to 7835
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   A         7836 non-null   object
 1   B         7836 non-null   object
 2   Winner    7836 non-null   object
 3   Event     7836 non-null   object
 4   Date      7836 non-null   object
 5   Location  7836 non-null   object
 6   Division  7836 non-null   object
 7   Method    7836 non-null   object
 8   Round     7836 non-null   int64
 9   Time      7836 non-null   object
 10  Format    7836 non-null   object
 11  Referee   7811 non-null   object
 12  A_KD      7815 non-null   float64
 13  A_SS      7815 non-null   object
 14  A_SSP     7815 non-null   object
 15  A_TS      7815 non-null   object
 16  A_TD      7815 non-null   object
 17  A_TDP     7815 non-null   object
 18  A_SA      7815 non-null   float64
 19  A_REV     7815 non-null   float64
 20  A_CTRL    7815 non-null   object
 21  A_H       7815 non-null   object
 22  A_B       7815 non-null   object
 23  A_L       7815 non-null   object
 24  A_D       7815 non-null   object
 25  A_C       7815 non-null   object
 26  A_G       7815 non-null   object
 27  B_KD      7815 non-null   float64
 28  B_SS      7815 non-null   object
 29  B_SSP     7815 non-null   object
 30  B_TS      7815 non-null   object
 31  B_TD      7815 non-null   object
 32  B_TDP     7815 non-null   object
 33  B_SA      7815 non-null   float64
 34  B_REV     7815 non-null   float64
 35  B_CTRL    7815 non-null   object
 36  B_H       7815 non-null   object
 37  B_B       7815 non-null   object
 38  B_L       7815 non-null   object
 39  B_D       7815 non-null   object
 40  B_C       7815 non-null   object
 41  B_G       7815 non-null   object
dtypes: float64(6), int64(1), object(35)
memory usage: 2.5+ MB

None

------------------------------------------------------------------------

,A,B,Winner,Event,Date,Location,Division,Method,Time,Format,Referee,A_SS,A_SSP,A_TS,A_TD,A_TDP,A_CTRL,A_H,A_B,A_L,A_D,A_C,A_G,B_SS,B_SSP,B_TS,B_TD,B_TDP,B_CTRL,B_H,B_B,B_L,B_D,B_C,B_G
count,7836,7836,7836,7836,7836,7836,7836,7836,7836,7836,7811,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815,7815
unique,1854,2353,1772,704,699,169,113,10,339,19,224,4256,97,5212,176,74,780,3634,710,486,3466,539,754,4098,92,4965,179,72,659,3447,668,468,3474,521,568
top,Jim Miller,Jeremy Stephens,Draw,UFC 2: No Way Out,"November 19, 2016","Las Vegas, Nevada, USA",Lightweight Bout,Decision - Unanimous,5:00,3 Rnd (5-5-5),Herb Dean,0 of 1,50%,0 of 0,0 of 0,---,0:00,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0,50%,0 of 1,0 of 0,---,0:00,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0,0 of 0
freq,34,21,58,15,25,2637,1293,2774,3675,6897,1134,39,365,26,2487,2487,965,74,807,1491,116,1847,2698,57,384,39,2930,2930,1458,131,945,1489,105,1877,3529

             Round
count  7836.000000
mean      2.345840
std       1.016191
min       1.000000
25%       1.000000
50%       3.000000
75%       3.000000
max       5.000000

## Missing  Values

In [5]:
# Replace "-", "--", "---", and None with np.nan
fighters = fighters.replace('-', np.nan)
fighters = fighters.replace('--', np.nan)
fighters = fighters.replace('---', np.nan)
fighters = fighters.fillna(np.nan)
fights = fights.replace('-', np.nan)
fights = fights.replace('--', np.nan)
fights = fights.replace('---', np.nan)
fights = fights.fillna(np.nan)

In [6]:
print('Fighters Missing Values')
print('************************************')
for column in fighters.columns:
    print(column, 'Missing Values:', fighters[column].isnull().sum())
    
print('\nFights Missing Values')
print('************************************')
for column in fights.columns:
    print(column, 'Missing Values:', fights[column].isnull().sum())

Fighters Missing Values
************************************
Name Missing Values: 0
Record Missing Values: 0
Height Missing Values: 337
Weight Missing Values: 86
Reach Missing Values: 1962
Stance Missing Values: 861
Birthday Missing Values: 762
SLPM Missing Values: 0
SACC Missing Values: 0
SAPM Missing Values: 0
SD Missing Values: 0
TDAVG Missing Values: 0
TDACC Missing Values: 0
TDD Missing Values: 0
SAVG Missing Values: 0

Fights Missing Values
************************************
A Missing Values: 0
B Missing Values: 0
Winner Missing Values: 0
Event Missing Values: 0
Date Missing Values: 0
Location Missing Values: 0
Division Missing Values: 0
Method Missing Values: 0
Round Missing Values: 0
Time Missing Values: 0
Format Missing Values: 0
Referee Missing Values: 25
A_KD Missing Values: 21
A_SS Missing Values: 21
A_SSP Missing Values: 58
A_TS Missing Values: 21
A_TD Missing Values: 21
A_TDP Missing Values: 2508
A_SA Missing Values: 21
A_REV Missing Values: 21
A_CTRL Missing Values: 202
A_H Missing Values: 21
A_B Missing Values: 21
A_L Missing Values: 21
A_D Missing Values: 21
A_C Missing Values: 21
A_G Missing Values: 21
B_KD Missing Values: 21
B_SS Missing Values: 21
B_SSP Missing Values: 78
B_TS Missing Values: 21
B_TD Missing Values: 21
B_TDP Missing Values: 2951
B_SA Missing Values: 21
B_REV Missing Values: 21
B_CTRL Missing Values: 202
B_H Missing Values: 21
B_B Missing Values: 21
B_L Missing Values: 21
B_D Missing Values: 21
B_C Missing Values: 21
B_G Missing Values: 21

## Duplicate Values

In [7]:
print(f'Fighters Duplicate Values: {fighters.duplicated().sum()}')
print(f'Fights Duplicate Values: {fights.duplicated().sum()}')

Fighters Duplicate Values: 0
Fights Duplicate Values: 0

## Unique Values

In [8]:
print('Fighters Unique Values')
print('************************************')
for column in fighters.columns:
    print(column, 'Unique Values:', fighters[column].nunique())
    
print('')
print('Fights Unique Values')
print('************************************')
for column in fights.columns:
    print(column, 'Unique Values:', fights[column].nunique())

Fighters Unique Values
************************************
Name Unique Values: 4246
Record Unique Values: 1232
Height Unique Values: 26
Weight Unique Values: 112
Reach Unique Values: 27
Stance Unique Values: 5
Birthday Unique Values: 2948
SLPM Unique Values: 703
SACC Unique Values: 83
SAPM Unique Values: 809
SD Unique Values: 84
TDAVG Unique Values: 567
TDACC Unique Values: 85
TDD Unique Values: 92
SAVG Unique Values: 97

Fights Unique Values
************************************
A Unique Values: 1854
B Unique Values: 2353
Winner Unique Values: 1772
Event Unique Values: 704
Date Unique Values: 699
Location Unique Values: 169
Division Unique Values: 113
Method Unique Values: 10
Round Unique Values: 5
Time Unique Values: 339
Format Unique Values: 19
Referee Unique Values: 224
A_KD Unique Values: 6
A_SS Unique Values: 4256
A_SSP Unique Values: 96
A_TS Unique Values: 5212
A_TD Unique Values: 176
A_TDP Unique Values: 73
A_SA Unique Values: 11
A_REV Unique Values: 7
A_CTRL Unique Values: 779
A_H Unique Values: 3634
A_B Unique Values: 710
A_L Unique Values: 486
A_D Unique Values: 3466
A_C Unique Values: 539
A_G Unique Values: 754
B_KD Unique Values: 5
B_SS Unique Values: 4098
B_SSP Unique Values: 91
B_TS Unique Values: 4965
B_TD Unique Values: 179
B_TDP Unique Values: 71
B_SA Unique Values: 8
B_REV Unique Values: 6
B_CTRL Unique Values: 658
B_H Unique Values: 3447
B_B Unique Values: 668
B_L Unique Values: 468
B_D Unique Values: 3474
B_C Unique Values: 521
B_G Unique Values: 568

## Exporting Pickles

In [9]:
with open('fighters.pkl', 'wb') as f:
    pickle.dump(fighters, f)
with open('fights.pkl', 'wb') as f:
    pickle.dump(fights, f)